<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/listar">Listar currículos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cadastro">Cadastrar currículo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Consultar Currículo</a>
  </li>
  {{!-- <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li> --}}
</ul>