<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="teste">
    <style>
        .myAlert-top {
            position: fixed;
            top: 40px;
            left: 2%;
            width: 96%;
        }

        .myAlert-bottom {
            position: fixed;
            bottom: 5px;
            left: 2%;
            width: 96%;
        }

        div.fullscreen {
            position: absolute;
            width: 100%;
            height: 960px;
            top: 0;
            left: 0;
            background-color: lightblue;
        }
    </style>
    
</head>

<body>
    {{> navbar}}
    <div class="container">
        {{{body}}}
    </div>
    {{#if erros}}
    <div class="myAlert-top alert alert-danger alert-dismissible fade show">
        
        {{#each erros}}
        {{#if this.erro}}
        {{this.msg}}<br>
        {{/if}}
        {{/each}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{/if}}
    {{#if success}}
    <div class="myAlert-top alert alert-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        Sucesso!
    </div>
    {{/if}}
</body>

<script src="/js/jquery-3.2.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</html>