<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      {{#each pessoas}}
      <tr>
        <th scope="row">{{this.nome}}</th>
        <td>{{this.email}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>